section {
  margin-top: 3rem;
  display: flex;
  //   align-items: center;
  justify-content: space-around;

  .productRegisterForm-div {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 35vw;

    .formInputs > div {
      margin-bottom: 5%;
    }

    h1 {
      padding: 1.2rem 0;
    }
  }

  .productPreview-div {
    h1 {
      text-align: center;
      padding: 1.5rem;
    }
  }

  .formButtons {
    display: flex;
    justify-content: space-around;

    button {
      width: 45%;
      background-color: #0f0f0a;
      color: white;
      border: solid 2px black;
      border-radius: 15px;
      padding: 0.7rem;
      font-size: 1rem;
      font-weight: bold;
    }

    button:first-child {
      color: black;
      background-color: transparent;
      border: none;

      &:hover {
        border: solid 2px black;
      }
    }
  }
}

.floating-label {
  position: relative;
  margin-bottom: 1.5rem;

  input,
  select {
    width: 100%;
    padding: 1rem 0.75rem 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background: white;
    box-sizing: border-box;
  }
  select {
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333' d='M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 12px;
    padding-right: 2.5rem;
  }

  label {
    position: absolute;
    left: 0.75rem;
    top: 0.75rem;
    color: #888;
    background: white;
    padding: 0 0.25rem;
    transition: all 0.2s ease;
    pointer-events: none;
    font-size: 1rem;
  }
  input:focus + label,
  input:valid + label,
  select:focus + label,
  select:valid + label {
    top: -0.6rem;
    left: 0.75rem;
    font-size: 0.8rem;
    color: var(--primary-color);
  }

  input:focus,
  select:focus {
    border-color: var(--primary-color);
  }
}
