<div class="header">
  <h1>User #{{ userCardInfo.id }}</h1>
</div>
<div class="userCard-div">
  <img src="icons/dropdown/user.svg" alt="" />
  <h1>{{ userCardInfo.name }}</h1>
  <p>{{ userCardInfo.email }}</p>
  <form [formGroup]="roleSelector" action="">
    <div class="floating-label">
      <select name="userRole" id="userRole" formControlName="userRole">
        <option [ngValue]="1">Usuario</option>
        <option [ngValue]="2">Vendedor</option>
        <option [ngValue]="3">Administrador</option>
        <option [ngValue]="4">Owner</option>
      </select>
    </div>
    <div class="buttons">
      <button (click)="setUserRole()">Salvar</button>
      <button>Banir</button>
    </div>
  </form>
</div>
