:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCard-div {
  width: 20vw;

  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flexbox;
  flex-direction: column;
  img {
    margin: 5% 5% 10% 5%;
    width: 90%;
    height: 50%;
    border-radius: 15px;
  }

  .productInfo-div {
    margin: 0% 5% 0% 5%;

    h2 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    h3 {
      margin-top: 0.5rem;
      font-size: 1.5rem;
    }
    p {
      width: 100%;
      max-height: 2.9rem;
      overflow: hidden;
      //   white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .productActions-div {
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 5% 5%;

    button {
      padding: 0.8rem;
      border-radius: 30px;
      width: 47%;
      border: 2px black solid;
      font-weight: bold;
    }

    button:first-child {
      background-color: black;
      color: white;
      border: none;
    }

    button:last-child {
      background-color: transparent;
      color: black;
    }
  }
}
