<div class="productCard-div">
  <div>
    <div class="selo-de-desconto"></div>
    <img
      src="https://i.etsystatic.com/57544560/r/il/ce5f1f/7006977535/il_fullxfull.7006977535_7zu6.jpg"
      alt=""
    />
  </div>
  <div class="productInfo-div">
    <h2>nome do produto</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cum iste provident magnam
      quasi ea pariatur itaque voluptatibus necessitatibus, aliquid aut nostrum mollitia consectetur
      nemo numquam tenetur nam eaque soluta?
    </p>
    <h3>R$99,99</h3>
  </div>
  <div class="productActions-div">
    <button>COMPRAR</button>
    <button>OLHAR</button>
  </div>
</div>
