:root {
  --primary-color: #4357ad;
  --secondary-color: #48a9a6;
  --neutral-color: #e4dfda;
  --third-color: #d4b483;
  --error-color: #c1666b;
}

$primary-color: #4357ad;
$secondary-color: #48a9a6;
$neutral-color: #e4dfda;
$third-color: #d4b483;
$error-color: #c1666b;
$black-color: #03030a;
$white-color: #f3f3fa;
