<div class="dropdown">
  <div class="headerSection">
    <img
      src="https://preview.redd.it/city-the-animation-character-art-nichijou-successor-v0-p8jzphlz4phe1.jpg?width=640&crop=smart&auto=webp&s=8e0cfcf024ceae43a3bfc05b4c60c7a1266cef14"
      alt="user image"
    />
    <p>Bem vindo(a), User.</p>
  </div>
  <div class="userActions">
    <div class="user-section">
      <div>
        <img src="icons/dropdown/user.svg" alt="" />
        <button>Perfil</button>
      </div>
      <div>
        <img src="icons/dropdown/shoppingBag.svg" alt="" />
        <button>Meus pedidos</button>
      </div>
      <div>
        <img src="icons/dropdown/shoppingCart.svg" alt="" />
        <button>Carrinho</button>
      </div>
    </div>
    <div class="seller-section">
      <div>
        <img src="icons/dropdown/plus.svg" alt="" />
        <button>Adicionar Produto</button>
      </div>
      <div>
        <img src="icons/dropdown/store.svg" alt="" />
        <button>Minha Loja</button>
      </div>
      <div>
        <img src="icons/dropdown/dashboard.svg" alt="" />
        <button>Dashboard</button>
      </div>
    </div>
    <div class="admin-section">
      <div>
        <img src="icons/dropdown/users.svg" alt="" />
        <button>Administrar usuarios</button>
      </div>
      <div>
        <img src="icons/dropdown/report.svg" alt="" />
        <button>Relatorios</button>
      </div>
    </div>
    <div class="universal-section">
      <div>
        <img src="icons/dropdown/settings.svg" alt="" />
        <button>Configurações</button>
      </div>
      <div class="lastDiv">
        <img src="icons/dropdown/logOut.svg" alt="" />
        <button>Sair</button>
      </div>
    </div>
  </div>
</div>
